<form [formGroup]="form" (ngSubmit)="submitForm()">
    <app-nacionalidad-form formControlName="nacionalidad"></app-nacionalidad-form>
    <app-fecha-nacimiento-form formControlName="nacimiento"></app-fecha-nacimiento-form>
    <app-direccion-form [editDireccion]="data.registroProfesional" formControlName="direccion"></app-direccion-form>
    <app-telefono-form formControlName="telefono"></app-telefono-form>
    <hr>
    <app-agremiado-form formControlName="agremiado"></app-agremiado-form>
    <div class="text-center">
      <button mat-raised-button class="m-2 botones" matStepperPrevious>Regresar</button>
      <button mat-raised-button class="botones" matStepperNext [disabled]="!form.valid">Siguiente</button>
    </div>
</form>