<mat-dialog-content>
  <mat-card class="m-2">
    <mat-card-title>Selecciona un tipo de registro </mat-card-title>
    <mat-spinner *ngIf="loading" style="margin: auto;" [diameter]="20"></mat-spinner>
    <mat-card-content>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <mat-radio-group [(ngModel)]="escogido">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <mat-radio-button color="primary" [value]="node" (click)="validarRegistro(node)">
              {{node.descripcion}}
            </mat-radio-button>
          </mat-tree-node>
        </mat-radio-group>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.descripcion}}
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
      <button mat-raised-button [disabled]="!validador" (click)="enviarRegistro()" class="botones">Aceptar</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>