<div class="m-2" [formGroup]="form">
    <p class="text-primary font-weight-bold">Dirección</p>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Dirección</mat-label>
                <input type="text" matInput formControlName="direccion" [ngModel]="persona.direccion">
                <mat-error *ngIf="f['direccion'].touched && f['direccion'].invalid">
                    <mat-error *ngIf="f['direccion'].errors?.['required']">El campo dirección es requerido
                    </mat-error>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>