<div *ngIf="!loadingService.loading && this.dataSource.data.length>0">
  <p><strong>ANALISTA: {{dataSource.data[0].nombreAnalista}}</strong></p>
    <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="buscar..." #input>
      </mat-form-field>
      <div class="mat-elevation-z8 table-responsive">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()"
                            color = "primary"
                            >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                            color = "primary"
                            >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef='Numero de tramite'>
            <th mat-header-cell *matHeaderCellDef> Número de Registro </th>
            <td mat-cell *matCellDef="let element">
              {{element.nroRegistro}} </td>
          </ng-container>
          <ng-container matColumnDef='Fecha de Creacion'>
            <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
            <td mat-cell *matCellDef="let element">
              {{element.fechaAsigna | date:'longDate'}} </td>
          </ng-container>
          <ng-container matColumnDef='Estado del tramite'>
            <th mat-header-cell *matHeaderCellDef> Estado del trámite </th>
            <td mat-cell *matCellDef="let element">
              {{element.estadoTramite}} </td>
          </ng-container>
          <ng-container matColumnDef='Pertenece'>
            <th mat-header-cell *matHeaderCellDef> Pertenece a </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se ha encontrado "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [hidden]="!paginatorHidden" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons showFirstLastButtons>
        </mat-paginator>
      </div>
      <div class="text-center m-3">
        <button mat-raised-button color="warn" class="m-1" (click)="reloadCurrentRoute()">Cancelar</button>
        <button mat-raised-button class="botones" (click)="enviarSeleccion()" [disabled]="this.selection.selected.length === 0">Siguiente</button>
      </div>
</div>
