table {
  width: 100%;
}

.table-header {
  width: 100%;
  margin: auto;
}
.mat-column-nombre {
  width: 40% !important;
}
.mat-column-identificacion {
  width: 20% !important;
}
.mat-column-Acciones {
  width: 20% !important;
}
.linea
{
    display: inline-block;
}